<!--The content below is only a placeholder and can be replaced.-->
<div class="nav-bar" style="text-align:center">

  <mat-tab-group mat-align-tabs="start" animationDuration="1000ms" [color]="color">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="menu-items">Developer</div>
      </ng-template>
      <app-home></app-home>
    </mat-tab>
    <mat-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="menu-items">Home</div>
      </ng-template>
      <ng-template matTabContent>
        <app-home></app-home>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="menu-items">Work Experience</div>
      </ng-template>
      <ng-template matTabContent>
        <app-workexperience></app-workexperience>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="menu-items">Education</div>
      </ng-template>
      <ng-template matTabContent>
        <app-education></app-education>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="menu-items">About</div>
      </ng-template>
      <ng-template matTabContent>
        <app-education></app-education>
      </ng-template>
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label>
        <div class="menu-items">Contact</div>
      </ng-template>
      <ng-template matTabContent>
        <app-education></app-education>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>


<router-outlet></router-outlet>
